body {
    height: 100%
}

header {
    min-width: 100%;
    min-height: auto;
}

.bg-dark {
    font-weight: bold;
    background: linear-gradient(135deg, #0000 45%, rgb(82, 16, 73));
}

.float-left {
    min-width: 20%;
    min-height: auto;
}
#cities {
    flex-flow: row wrap;
    justify-content: space-around;
}

.btn {
    min-width: 20%;
}

.float-right {
    min-width: 60%;
    min-height: auto;
}

.card-deck {
    min-width: 95%;
    min-height: auto;
}

.bg-info {
    font-weight: bold;
}

.card {
    display: flex;
    flex-direction: row;
}

.list-group {
    display: flex;
    flex-direction: row;
    min-width: 20%
}

#uvIndex {
    min-width: auto;

}

.uv-good {
    background-color: green;
}

.uv-bad {
    background-color: red;
}

.uv-ugly {
    background-color: orange;
}



@media (max-width: 1040px) {
    .list-group {
       flex-flow: row wrap;
    }
}

@media (max-width: 790px) {
    .list-group {
        flex-flow : row wrap;
        flex: 0 2 0;
    }
}

@media (max-width: 576px) {
    .list-group {
        flex-flow : row wrap;
        flex: 0 2 0;
    }
 
    .jumbotron {
        min-width: 100%;
        min-height: auto;
        flex: 0 2 0;
    }
}

@media (max-width: 384px) {
    .list-group {
        flex-flow : row wrap;
        flex: 0 4 0;
    }
    
    .jumbotron {
        min-width: 100%;
        min-height: auto;
        flex: 0 4 0;
    }
}
